@using Umbraco.Common.Constants
@using UmbracoWorld.PublishedModels
@inherits UmbracoViewPage
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @await RenderSectionAsync("meta", required: false)

    <!-- Favicon and title -->
    <link rel="icon" href="path/to/fav.png">
    <title>Umbraco World</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap" rel="stylesheet">
    <link href="/build/bundle.css" rel="stylesheet"/>
</head>

<body class="fade-in">
@if (!(bool)(ViewData["HideNavBar"] ?? false))
{
    var links = (Umbraco.ContentAtRoot().First() as Home)?.PrimaryNavigation;
    @await Html.PartialAsync("../Structure/_NavBar.cshtml", links)
}

<main class="@((bool)(ViewData["HideNavBar"] ?? false) ? "" : "unicorns")">
    @RenderBody()
</main>

@if (TempData[TempDataConstants.ToastKey] is not null)
{
    @await Component.InvokeAsync("ToastNotificationComponent")
}


<script src="https://unpkg.com/@@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js" integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.1/dist/instantsearch.production.min.js" integrity="sha256-3s8yn/IU/hV+UjoqczP+9xDS1VXIpMf3QYRUi9XoG0Y=" crossorigin="anonymous"></script>
<script src="~/build/bundle.js" asp-append-version="true"></script>


</body>
<script>

    </script>

</html>