.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1.5rem;
  --bs-btn-color: #55595c;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1a1a1a;
  --bs-btn-border-color: #1a1a1a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #161616;
  --bs-btn-hover-border-color: #151515;
  --bs-btn-focus-shadow-rgb: 60, 60, 60;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #151515;
  --bs-btn-active-border-color: #141414;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1a1a1a;
  --bs-btn-disabled-border-color: #1a1a1a;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #F5C1BC;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 217, 217, 217;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4bbf73;
  --bs-btn-border-color: #4bbf73;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #40a262;
  --bs-btn-hover-border-color: #3c995c;
  --bs-btn-focus-shadow-rgb: 102, 201, 136;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3c995c;
  --bs-btn-active-border-color: #388f56;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4bbf73;
  --bs-btn-disabled-border-color: #4bbf73;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1f9bcf;
  --bs-btn-border-color: #1f9bcf;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1a84b0;
  --bs-btn-hover-border-color: #197ca6;
  --bs-btn-focus-shadow-rgb: 65, 170, 214;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #197ca6;
  --bs-btn-active-border-color: #17749b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1f9bcf;
  --bs-btn-disabled-border-color: #1f9bcf;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #f0ad4e;
  --bs-btn-border-color: #f0ad4e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f2b969;
  --bs-btn-hover-border-color: #f2b560;
  --bs-btn-focus-shadow-rgb: 204, 147, 66;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f3bd71;
  --bs-btn-active-border-color: #f2b560;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f0ad4e;
  --bs-btn-disabled-border-color: #f0ad4e;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d9534f;
  --bs-btn-border-color: #d9534f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b84743;
  --bs-btn-hover-border-color: #ae423f;
  --bs-btn-focus-shadow-rgb: 223, 109, 105;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ae423f;
  --bs-btn-active-border-color: #a33e3b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d9534f;
  --bs-btn-disabled-border-color: #d9534f;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d9d9d9;
  --bs-btn-hover-border-color: #cccccc;
  --bs-btn-focus-shadow-rgb: 217, 217, 217;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #cccccc;
  --bs-btn-active-border-color: #bfbfbf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #fff;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #343a40;
  --bs-btn-border-color: #343a40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #52585d;
  --bs-btn-hover-border-color: #484e53;
  --bs-btn-focus-shadow-rgb: 82, 88, 93;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5d6166;
  --bs-btn-active-border-color: #484e53;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #343a40;
  --bs-btn-disabled-border-color: #343a40;
}

.btn-outline-primary {
  --bs-btn-color: #1a1a1a;
  --bs-btn-border-color: #1a1a1a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1a1a1a;
  --bs-btn-hover-border-color: #1a1a1a;
  --bs-btn-focus-shadow-rgb: 26, 26, 26;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a1a1a;
  --bs-btn-active-border-color: #1a1a1a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1a1a1a;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1a1a1a;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #4bbf73;
  --bs-btn-border-color: #4bbf73;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4bbf73;
  --bs-btn-hover-border-color: #4bbf73;
  --bs-btn-focus-shadow-rgb: 75, 191, 115;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4bbf73;
  --bs-btn-active-border-color: #4bbf73;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #4bbf73;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4bbf73;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #1f9bcf;
  --bs-btn-border-color: #1f9bcf;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1f9bcf;
  --bs-btn-hover-border-color: #1f9bcf;
  --bs-btn-focus-shadow-rgb: 31, 155, 207;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1f9bcf;
  --bs-btn-active-border-color: #1f9bcf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1f9bcf;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1f9bcf;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #f0ad4e;
  --bs-btn-border-color: #f0ad4e;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f0ad4e;
  --bs-btn-hover-border-color: #f0ad4e;
  --bs-btn-focus-shadow-rgb: 240, 173, 78;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f0ad4e;
  --bs-btn-active-border-color: #f0ad4e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f0ad4e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f0ad4e;
  --bs-gradient: none;
}

.btn-outline-danger {
  --bs-btn-color: #d9534f;
  --bs-btn-border-color: #d9534f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9534f;
  --bs-btn-hover-border-color: #d9534f;
  --bs-btn-focus-shadow-rgb: 217, 83, 79;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d9534f;
  --bs-btn-active-border-color: #d9534f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d9534f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d9534f;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fff;
  --bs-gradient: none;
}

.btn-outline-dark {
  --bs-btn-color: #343a40;
  --bs-btn-border-color: #343a40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #343a40;
  --bs-btn-hover-border-color: #343a40;
  --bs-btn-focus-shadow-rgb: 52, 58, 64;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #343a40;
  --bs-btn-active-border-color: #343a40;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #343a40;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #343a40;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #919aa1;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 60, 60, 60;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg, .btn-group-lg > .btn {
  --bs-btn-padding-y: 2rem;
  --bs-btn-padding-x: 2rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-sm, .btn-group-sm > .btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: 0.25rem;
}


button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}


.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(26, 26, 26, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

