.table {
  --bs-table-color:var(--bs-body-color);
  --bs-table-bg:transparent;
  --bs-table-border-color:rgba(0, 0, 0, 0.05);
  --bs-table-accent-bg:transparent;
  --bs-table-striped-color:var(--bs-body-color);
  --bs-table-striped-bg:rgba(0, 0, 0, 0.05);
  --bs-table-active-color:var(--bs-body-color);
  --bs-table-active-bg:rgba(0, 0, 0, 0.1);
  --bs-table-hover-color:var(--bs-body-color);
  --bs-table-hover-bg:rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);

  > {
    :not(caption) > * > * {
      padding: 0.5rem 0.5rem;
      background-color: var(--bs-table-bg);
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    tbody {
      vertical-align: inherit;
    }

    thead {
      vertical-align: bottom;
    }
  }
}

.table-group-divider {
  border-top: 2px solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;

  > * {
    border-width: 0 1px;
  }
}

.table-borderless > {
  :not(caption) > * > * {
    border-bottom-width: 0;
  }

  :not(:first-child) {
    border-top-width: 0;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) > *, .table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-accent-bg:var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg:var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg:var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-color:#000;
  --bs-table-bg:#d1d1d1;
  --bs-table-border-color:#bcbcbc;
  --bs-table-striped-bg:#c7c7c7;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#bcbcbc;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#c1c1c1;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-secondary {
  --bs-table-color:#000;
  --bs-table-bg:white;
  --bs-table-border-color:#e6e6e6;
  --bs-table-striped-bg:#f2f2f2;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#e6e6e6;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#ececec;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-success {
  --bs-table-color:#000;
  --bs-table-bg:#dbf2e3;
  --bs-table-border-color:#c5dacc;
  --bs-table-striped-bg:#d0e6d8;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#c5dacc;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#cbe0d2;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-info {
  --bs-table-color:#000;
  --bs-table-bg:#d2ebf5;
  --bs-table-border-color:#bdd4dd;
  --bs-table-striped-bg:#c8dfe9;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#bdd4dd;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#c2d9e3;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-warning {
  --bs-table-color:#000;
  --bs-table-bg:#fcefdc;
  --bs-table-border-color:#e3d7c6;
  --bs-table-striped-bg:#efe3d1;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#e3d7c6;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#e9ddcc;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-danger {
  --bs-table-color:#000;
  --bs-table-bg:#f7dddc;
  --bs-table-border-color:#dec7c6;
  --bs-table-striped-bg:#ebd2d1;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#dec7c6;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#e4cccc;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-light {
  --bs-table-color:#000;
  --bs-table-bg:#fff;
  --bs-table-border-color:#e6e6e6;
  --bs-table-striped-bg:#f2f2f2;
  --bs-table-striped-color:#000;
  --bs-table-active-bg:#e6e6e6;
  --bs-table-active-color:#000;
  --bs-table-hover-bg:#ececec;
  --bs-table-hover-color:#000;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-dark {
  --bs-table-color:#fff;
  --bs-table-bg:#343a40;
  --bs-table-border-color:#484e53;
  --bs-table-striped-bg:#3e444a;
  --bs-table-striped-color:#fff;
  --bs-table-active-bg:#484e53;
  --bs-table-active-color:#fff;
  --bs-table-hover-bg:#43494e;
  --bs-table-hover-color:#fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}