.navbar {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2rem 5vw;
  background: transparent;
  
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    &img{
      max-height: 10vh;
    }
    text-decoration: none;
    //height: 10vh;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 800;
  }
  

}

.burger {
  background: none;
  border: none;
}

.burger-bar, .burger-bar {
  width: 35px;
  height: 6px;
  border-radius: 50px;
  margin: 6px 0;
  transition: 0.4s;
  background-color: var(--color-white);

  &--invisible {
    width: 35px;
    height: 2px;
    margin: 6px 0;
  }
}

.change #burger-bar-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change #burger-bar-2 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .nav-link {
    text-decoration: none;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-black);
    width: 100%;
    display: inline-block;
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background: var(--color-peach-light);
    }

    &.active {
      background: var(--color-blue);
      padding: 2rem;

      & a {
        color: var(--color-white);
      }
    }
  }


  &--account {
    bottom: 0;

    &__actions {
      display: flex;
      gap: 0.5rem;
    }

    &__name {
      display: flex;
      gap: 1rem;
      font-weight: 800;

      & img {
        border-radius: 50px;
      }
    }
  }

}
