@{
    Layout = "./Layouts/_Layout.cshtml";
}

<uw-home-hero>
    <div slot="heading"> Expanding the <span class="text-peach-dark">world</span> of Umbraco</div>
    <p slot="subheading">Umbraco world is an aggregation tool first and foremost. It’s only purpose is to make things easier to find and easier to digest.</p>
</uw-home-hero>

<uw-section type="primary">
    <h2 class="text-white text-center">Showcases</h2>
    <div class="home-showcases--container">
        <uw-card
            href="/showcase/123"
            profile_src="https://i.pravatar.cc/200"
            image_src="https://picsum.photos/1000/300"
            title="Showcase Name"
            author_name="James Bond"
            body="Some short text about this showcase, why it's cool and what not."
            date="@(DateTime.Now.ToShortDateString())">
        </uw-card>
        <uw-card
            profile_src="https://i.pravatar.cc/200"
            image_src="https://picsum.photos/500/300"
            title="Showcase Name"
            author_name="James Bond"
            body="Some short text about this showcase, why it's cool and what not."
            date="@(DateTime.Now.ToShortDateString())">
        </uw-card>
        <uw-card
            profile_src="https://i.pravatar.cc/200"
            image_src="https://picsum.photos/500/300"
            title="Showcase Name"
            author_name="James Bond"
            body="Some short text about this showcase, why it's cool and what not."
            date="@(DateTime.Now.ToShortDateString())">
        </uw-card>
                <uw-card
                    profile_src="https://i.pravatar.cc/200"
                    image_src="https://picsum.photos/500/300"
                    title="Showcase Name"
                    author_name="James Bond"
                    body="Some short text about this showcase, why it's cool and what not."
                    date="@(DateTime.Now.ToShortDateString())">
                </uw-card>
    </div>

</uw-section>

<uw-section type="peach-dark">
    <h2 class="text-white text-center">Events</h2>
</uw-section>

<uw-section type="white">
    <h2 class="text-primary text-center">Strength in numbers</h2>
</uw-section>


<style>
    .box {
    width:  100%;
    height:  400px;
    background:  white;
    
    }
</style>