@import '_functions.scss';

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.2rem;

}

h1 {
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: clamp(60px, 10vw, 101.5px);
}

h2, .t-h2 {
  font-size: rem(60px);
  line-height: clamp(30px, 10vw, 60px);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover:not(.underline) {
  text-decoration: underline;
}

p {
  max-width: 700px;
}

.f-large {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}