<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="edfe0fe1-8365-4a38-a76b-ab4e25a66277" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a608654-568b-404d-b2fe-1d519ecebb00">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8e49757e-a60f-437f-9ead-fd8b3c01b7f4" SortOrder="0">loginRegister</ContentType>
    <ContentType Key="f09610c1-5862-4f56-9d72-83a257416255" SortOrder="1">register</ContentType>
    <ContentType Key="ef72b52a-ac90-46ec-9c7f-5006d0059bd7" SortOrder="2">myAccountPage</ContentType>
    <ContentType Key="b65b5ee4-b9f3-49b3-aea3-aec4ad114698" SortOrder="3">userProfilePage</ContentType>
    <ContentType Key="8c4aac3f-9355-4818-b1e1-368e0f379a28" SortOrder="4">resourcesPage</ContentType>
    <ContentType Key="079e4c0c-9f63-4c41-ac50-7ce63364aa78" SortOrder="5">showcasesPage</ContentType>
    <ContentType Key="4f9a46f2-778f-446b-b4f5-42e8f4248709" SortOrder="6">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2aec7555-65b2-4e8e-914f-6f386b727e4c</Key>
      <Name>Primary Navigation</Name>
      <Alias>primaryNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0cf7da91-dbbc-43c4-947a-6bdc06bf26e5</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>