<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e49757e-a60f-437f-9ead-fd8b3c01b7f4" Alias="loginRegister" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-unlocked color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LoginRegister</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bde46c59-a6ce-4624-8b76-60e2439e56f8">LoginRegister</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>