<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ef72b52a-ac90-46ec-9c7f-5006d0059bd7" Alias="myAccountPage" Level="1">
  <Info>
    <Name>My Account Page</Name>
    <Icon>icon-user-female color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MyAccountPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9f3b6960-797f-41a4-81d5-2a2adc547760">MyAccountPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>