<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8c4aac3f-9355-4818-b1e1-368e0f379a28" Alias="resourcesPage" Level="1">
  <Info>
    <Name>Resources Page</Name>
    <Icon>icon-addressbook color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ResourcesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e27a2452-d83c-4e7f-becb-f67c421f23e9">ResourcesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>