<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="079e4c0c-9f63-4c41-ac50-7ce63364aa78" Alias="showcasesPage" Level="1">
  <Info>
    <Name>Showcases Page</Name>
    <Icon>icon-presentation color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ShowcasesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="86c3eda9-9ff7-4474-af76-d4bfb846d493">ShowcasesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ad4ac75e-7b7e-483d-a2e0-1b9f3682271a" SortOrder="0">showcaseDetailPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>