<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b65b5ee4-b9f3-49b3-aea3-aec4ad114698" Alias="userProfilePage" Level="1">
  <Info>
    <Name>User Profile Page</Name>
    <Icon>icon-umb-users color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A public facing profile page for other visitors to view information about a member</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>UserProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c9a2665d-2c87-477b-88dd-7a6857c90f05">UserProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>