/* 
  Global scope 
*/
:root {
    /* Change primary color from blue to indigo */

    --primary-color: rgb(53, 68, 177);
    --primary-color-light: rgba(53, 68, 177, 0.8); 
    --primary-color-very-light: rgba(53, 68, 177, 0.5);
}

/* 
  Local scope 
  ~ This way, only the primary button's height and border width is affected.
  ~ Default button remains the same.
*/
.btn-primary {
    --button-height: 3.6rem;  /* Before: 3.2rem (32px) */
    --button-border-width: 0; /* Before: var(--base-border-width) */
}