<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7a9501e-2145-4a16-9f48-9b1e7e5bef0b" Alias="Account" Level="2">
  <Info>
    <Parent Key="a0461b25-e456-48df-9b35-b8bd9f1a20e1">Home</Parent>
    <Path>/Home/Account</Path>
    <Trashed>false</Trashed>
    <ContentType>myAccountPage</ContentType>
    <CreateDate>2022-10-26T10:53:20</CreateDate>
    <NodeName Default="Account" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f3b6960-797f-41a4-81d5-2a2adc547760">MyAccountPage</Template>
  </Info>
  <Properties />
</Content>