<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0461b25-e456-48df-9b35-b8bd9f1a20e1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-09-25T12:03:26</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3a608654-568b-404d-b2fe-1d519ecebb00">Home</Template>
  </Info>
  <Properties />
</Content>