<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c536efb-c400-430b-b3d6-f2716c55b940" Alias="Login" Level="2">
  <Info>
    <Parent Key="a0461b25-e456-48df-9b35-b8bd9f1a20e1">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginRegister</ContentType>
    <CreateDate>2022-09-25T12:03:38</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bde46c59-a6ce-4624-8b76-60e2439e56f8">LoginRegister</Template>
  </Info>
  <Properties />
</Content>