<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab627ed7-6359-4f0c-bd6c-b52702803601" Alias="User" Level="2">
  <Info>
    <Parent Key="a0461b25-e456-48df-9b35-b8bd9f1a20e1">Home</Parent>
    <Path>/Home/User</Path>
    <Trashed>false</Trashed>
    <ContentType>userProfilePage</ContentType>
    <CreateDate>2022-10-26T10:54:31</CreateDate>
    <NodeName Default="User" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c9a2665d-2c87-477b-88dd-7a6857c90f05">UserProfilePage</Template>
  </Info>
  <Properties />
</Content>