$colors : (
        "white": #ffffff,
        "black": #000000,
        "primary":  #3544B1,
        "peach-light": #F5C1BC,
        "peach-dark": #E89199,
        "blue-light": #E0EAFF,
        "blue": #3544B1,
        "blue-dark": #222c73,
        "red": #e84352
);

//convert each color in our list above into a css variable
:root {
  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }

  --body-bg-color: var(--color-primary);
  --burger-bg-color-active: #FFF;
}