.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.alert-primary {
  --bs-alert-color: #101010;
  --bs-alert-bg: #d1d1d1;
  --bs-alert-border-color: #bababa;
}
.alert-primary .alert-link {
  color: #0d0d0d;
}

.alert-secondary {
  --bs-alert-color: #999999;
  --bs-alert-bg: white;
  --bs-alert-border-color: white;
}
.alert-secondary .alert-link {
  color: #7a7a7a;
}

.alert-success {
  --bs-alert-color: #2d7345;
  --bs-alert-bg: #dbf2e3;
  --bs-alert-border-color: #c9ecd5;
}
.alert-success .alert-link {
  color: #245c37;
}

.alert-info {
  --bs-alert-color: #135d7c;
  --bs-alert-bg: #d2ebf5;
  --bs-alert-border-color: #bce1f1;
}
.alert-info .alert-link {
  color: #0f4a63;
}

.alert-warning {
  --bs-alert-color: #90682f;
  --bs-alert-bg: #fcefdc;
  --bs-alert-border-color: #fbe6ca;
}
.alert-warning .alert-link {
  color: #735326;
}

.alert-danger {
  --bs-alert-color: #82322f;
  --bs-alert-bg: #f7dddc;
  --bs-alert-border-color: #f4cbca;
}
.alert-danger .alert-link {
  color: #682826;
}

.alert-light {
  --bs-alert-color: #999999;
  --bs-alert-bg: white;
  --bs-alert-border-color: white;
}
.alert-light .alert-link {
  color: #7a7a7a;
}

.alert-dark {
  --bs-alert-color: #1f2326;
  --bs-alert-bg: #d6d8d9;
  --bs-alert-border-color: #c2c4c6;
}
.alert-dark .alert-link {
  color: #191c1e;
}