<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ec86c32-c143-4a76-b7da-70eac2033d4b" Alias="Member - Badges - Multinode Treepicker" Level="1">
  <Info>
    <Name>Member - Badges - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>