<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a6d04f1-661a-4c37-be10-7f391a5c8cc9" Alias="Textarea (max 250 characters)" Level="1">
  <Info>
    <Name>Textarea (max 250 characters)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250,
  "Rows": null
}]]></Config>
</DataType>